/* Font definitions for fancy layout (font sources last updated 2013) */

@font-face {
	font-family: 'abridahn web';
	src: url('fonts/Abridahnkajira.eot');
	src: url('fonts/Abridahnkajira.eot?#iefix') format('embedded-opentype'),
		url('fonts/Abridahnkajira.woff') format('woff'),
		url('fonts/Abridahnkajira.ttf') format('truetype'),
		url('fonts/Abridahnkajira.svg') format('svg');
}
@font-face {
	font-family: 'abridahn smallcaps web';
	src: url('fonts/Abridahniajiradi.eot');
	src: url('fonts/Abridahniajiradi.eot?#iefix') format('embedded-opentype'),
		url('fonts/Abridahniajiradi.woff') format('woff'),
		url('fonts/Abridahniajiradi.ttf') format('truetype'),
		url('fonts/Abridahniajiradi.svg') format('svg');
}
